* {
    box-sizing: border-box;
}

/*Layout com sidebar*/
body {
    font-family: 'Roboto', sans-serif;  
}

.container-header {
    background-color: #FFFFFF;
    width: 100%;
    height: 54px;

    position: fixed;
    top: 0px;
    left: 0px;
    border-bottom: 1px solid #DBDBDB;
    z-index: 2;
}

.header {
    height: 54px;
    width: 935px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar-vertical {
    height: 22px;
    width: 1px;
    background-color: #DBDBDB;
}


.logos {
    width: 146px;
    display: flex;
    justify-content: space-between;
}

ion-icon {
   font-size: 24px;
}

.logos img {
    width: 103px;
    height: auto;
}

.search {
    background-color: #FAFAFA;
    width: 215px;
    height: 28px;
    color: #979797;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
}

.icons {
    width: 168px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-body {
    background-color:  #FAFAFA;
    width: 100%;
    margin-top: 54px;
    display: flex;
    position: relative;
}

.container-content {
    background-color: #FAFAFA;;
    width: 614px;
    margin-left: calc( (100% - 935px) / 2);
    position: relative;
}

.container-post {
    background-color: #FFFFFF;
    width: 100%;
    height: 749px;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    margin-bottom: 60px;
}

.post-header {
    height: 61px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.post-header img {
    margin-left: 17px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin-right: 15px;
}

.post-header p {
    color: #262626;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.post-header ion-icon {
    position: absolute;
    right: 17px;
    font-size: 16px;
}

.container-post > img {
    height: 612px;
    width: 612px;
}

.post-icons {
    margin-left: 15px; 
    width: 100%;
    height: 32px;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.post-icons ion-icon {
    margin-right: 14px;
}

.post-icons ion-icon:last-child {
    position: absolute;
    right: 16px;
}

.post-likes {
    display: flex;
    height: calc(749px - 2px - 61px - 612px - 32px);
    align-items: center;
    margin-left: 17px;
}

.post-likes img {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

.post-likes p {
    color: #000000;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}

.post-likes p span {
    font-weight: 500;
}

.stories-white-background {
    background-color:#FFFFFF;
    margin-top: 34px;
    margin-bottom: 24px;
    height: 118px;
    width: 100%;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    position: relative;
    z-index: 1;
}

.stories-button {
    height: 32px;
    width: 32px;
    position: absolute;
    z-index: 3;
    left: calc(492px + 66px);
    top: 25px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.stories-button ion-icon {
    color: white;
    font-size: 32px;
}

.overflow-fix-line {
    background-color: #DBDBDB;
    height: 90px;
    width: 1px;
    position: absolute;
    z-index: 3;
    right: 30px;
}

.overflow-fix-rectangle {
    height: 90px;
    width: 30px;
    background-color: #FAFAFA;
    position: absolute;
    z-index: 4;
    right: 0px;
}

.stories-gallery {
    margin-left: 18px;
    margin-top: 52px;
    width: calc(66px + 494px + 66px);
    height: calc(66px + 1px + 19px);
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}

.stories-gallery img {
    width: 66px;
    height: 66px;
    border-radius: 50%;
}

.stories-pic-name {
    position: absolute;
    top: 5px;
    left: 5px;
    display: flex;
    justify-content: space-between;
}

.stories-pic-name div {
    margin-right: 24px;
}

.stories-pic-name img {
    top: 5px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.stories-pic-name p {
    margin-top: 6px;
    display: flex;
    justify-content: center;
    font-size: 12px;
    line-height: 14px;
    color: #262626;
}


.container-sidebar {
    background-color: #FAFAFA;
    width: 293px;
    height: 100vh;
    position: fixed;
    left: calc( calc( calc(100vw - 935px) / 2) + calc(614px + 29px));
    z-index: 4;
}

.container-sidebar-top {
    width: 100%;
    height: 118px;
    margin-bottom: 17px;
    margin-top: 34px;
}

.profile {
    height: calc(118px - 15px);
    width: 100%;
    display: flex;
    align-items: center;
}

.profile img {
    height: 56px;
    width: 56px;
    border-radius: 50%;
    margin-right: 17px;
}

.profile-bottom {
    display: flex;
    justify-content: space-between;
}

.profile strong {
    color: #262626;
    font-size: 14px;
    font-weight: 500;
    line-height: 16,41px;
}

.profile small {
    color: #8E8E8E;
    font-size: 14px;
    font-weight: 300;
    line-height: 16,41px;
}

.profile-bottom small {
    color: #8E8E8E;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    
}

.profile-bottom strong {
    color: #262626;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}

.follower {
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.follower p {
    width: calc(224px - 11px);
}

.follower img {
    height: 31px;
    width: 31px;
    border-radius: 50%;
}

.follower strong {
    color:  #262626;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    width: calc(224px - 11px);
}

.follower small {
    color: #8E8E8E;
    font-size: 12px;
    line-height: 14px;
    
}

.follow-button {
    color: #139EF2;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    width: 36px;
}

.sidebar-info {
    margin-top: calc(33px - 17px);
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.sidebar-info p {
    color: #C7C7C7;
    font-size: 11px;
    line-height: 13px;
}

.mobile, 
.container-footer {
    display: none;
}


/*Layout desktop sem sidebar*/
@media (max-width: 935px) {
    
    .header {
        width: 90vw;
    }

    .container-sidebar,
    .mobile,
    .container-footer {
        display: none;
    }

    .container-body {
        justify-content: center;
        overflow-x: hidden;
    }


    .container-content {
        margin-left: auto;
        margin-right: auto;
    }

}

/*Layout mobile*/
@media (max-width: 614px) {

    .icons,
    .search,
    .bar-vertical    {
        display: none;
    }

    .stories-white-background,
    .stories-button {
        display: none;
    }

    .stories-gallery {
        margin-top: 17px;
        margin-bottom: 18px;
    }

    .mobile {
        display: block;
    }

    .logos {
        width: 90vw;
        display: flex;
        justify-content: space-between;
    }

    .container-header {
        z-index: 4;
    }
   
    .container-body {
        display: flex;
        justify-content: center;
        overflow-x: hidden;
    }
    
    .container-content {
        width: 100%;
        position: relative;
        overflow-x: hidden;
    }

    .container-post.first {
        margin-top: 121px;
    }
   
    .container-post {
        height: auto;
    }
    
    .container-post > img {
        width: 100%;
        height: auto;
    }

    .container-footer {
        display: block;
        background-color: #FFFFFF;
        position: fixed;
        left: 0px;
        bottom: 0px;
        width: 100%;
        height: 54px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid #E5E5E5;
    }

    .footer {
        background-color: #FFFFFF;
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      
    }

    
}